.text-editor {
  [class*="ql-toolbar"] {
    display: none;
  }

  [class*="ql-container"] {
    border-top: 1px solid #ccc !important;
  }
}

.text-editor--visible {
  [class*="ql-toolbar"] {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
  }

  [class*="ql-container"] {
    border-top: 1px solid #ccc !important;
  }
}